/*pagina index*/
/*kolom en media*/

    [class*="col-"]{
    width: 100%;
    min-height: auto;
    }
body{background-color: azure;
    }
@media only screen and (min-width:600px){
body{background-color: beige;}
    [class*="col-"]
    {
    padding: 5px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}
/*h1*/
h1{
font-family: 'Bangers', cursive;
font-family: 'Kalam', cursive;
font-size:85px;
color:rgb(0, 21, 139);
text-shadow: -2px 2px 2px rgb(90, 114, 255);
position: absolute;
top: -60px;
left: 35%;
}
/*ol*/
ol li{
    font-family: 'Bangers', cursive;
    font-family: 'Kalam', cursive;
    }
/*h2*/
h2{
    padding: 20px;
    font-family: 'Bangers', cursive;
    font-family: 'Kalam', cursive;
}
/*section*/
#een{
    color: antiquewhite;
    background-color: rgb(59, 62, 255);
    min-height: 290px;
    border-style: ridge;
    border-width: 2px;
    border-color: rgb(120, 150, 160);
    border-radius: 6px;
    float: left;
    margin-top: 5px;
    }
/*div*/
#twee {
    padding:5px;
    margin-right: 0px;
    background-color:rgb(59, 62, 255);
    border-style: ridge;
    border-width: 2px;
    border-color: rgb(120, 150, 160);
    border-radius: 6px;
    float: right;
    }
/*div*/
.kolom{  
background-color: rgb(99, 136, 255);
width: 288px;
height: 268px;
margin: 5px;
margin-left: 10px;
display: block;
border-radius: 6px;
border-color: rgb(120, 150, 160);
border-style: ridge;
border-width: 2px;
float: right;
}
/*img*/
.info{
    border-style: ridge;
    border-radius: 2px;
    border-color: rgb(0, 0, 0);
    margin: 2px;
    float: right;
    display: block;
    }
 /*p */
 .xx{
   padding: 10px;
   font-family: 'Bangers', cursive;
    font-family: 'Kalam', cursive;
    font-size: 13px;
    color: rgb(59, 59, 59);
 }  
 /*h3*/
 h3{
    padding-left: 10px;
    font-family: 'Bangers', cursive;
    font-family: 'Kalam', cursive;
    font-size: 20px;
    color: rgb(17, 0, 255);
 } 
 /*img*/
 #hpt{
    max-width: 100%;
    border-radius: 8px;
    border-width: 2px;
    border-color: black;
    border-style: ridge;
    }
    /*section*/
.ftr{
    font-family: 'Bangers', cursive;
    font-family: 'Kalam', cursive;
    background-color: rgb(59, 62, 255);
    font-size: 13px;
    clear: both;
    width: 99.5%;
    height:80px;
    color: antiquewhite;
    border-style: ridge;
    border-width: 2px;
    border-color: rgb(120, 150, 160);
    border-radius: 6px;
    margin-top: 460px;
}
/*p*/
#loc{
    float: right;
    padding-right: 60px;
    
}
/*p*/
#lit{
    display: inline-block;
    padding-left: 20px;
}

