/*h1*/
h1{
font-family: 'Bangers', cursive;
font-family: 'Kalam', cursive;
font-size: 150px;
color:rgb(0, 21, 139);
text-shadow: -2px 2px 2px rgb(90, 114, 255);
}
/*header*/
header{
    text-align: center;
    height: 400px;
    width: 99%;
    border-radius: 8px;
    margin: 10px;
    border-width: 2px;
    border-color: black;
    border-style: ridge;
}
/*media*/

    [class*="col-"]{
    width: 100%;
    float: left; 
}
body{background-color: azure;
}
@media only screen and (min-width:600px){
body{background-color: beige;}
    [class*="col-"]
    {
padding: 10px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}
/*ol*/
ol li{
    font-family: 'Bangers', cursive;
    font-family: 'Kalam', cursive;
    
}
/*h2*/
h2{
    padding: 20px;
    font-family: 'Bangers', cursive;
    font-family: 'Kalam', cursive;

}
/*section*/
#een{
    color: antiquewhite;
    background-color: rgb(59, 62, 255);
    min-height: 300px;
    border-style: ridge;
    border-width: 2px;
    border-color: rgb(120, 150, 160);
    border-radius: 6px;
         
}
/*section*/
#twee {
    margin-top:10px;
    background-color:rgb(59, 62, 255);
    border-style: ridge;
    border-width: 2px;
    border-color: rgb(120, 150, 160);
    border-radius: 6px;
    float: right;

}
/*div*/
.kolom{  
background-color: rgb(99, 136, 255);
width: 288px;
height: 268px;
margin: 5px;
margin-left: 10px;
display: block;
border-radius: 6px;
border-color: rgb(120, 150, 160);
border-style: ridge;
border-width: 2px;
float: right;
}
/*img*/
img{
    border-style: ridge;
    border-radius: 0.5px;
    border-color: blue;
    margin: 3px;
    float: right;
    display: block;
    }
 /*p */
 p{
   padding: 10px;
   font-family: 'Bangers', cursive;
    font-family: 'Kalam', cursive;
    font-size: 13px;
    color: rgb(59, 59, 59);
 }  
 /*h3*/
 h3{
    padding-left: 10px;
    font-family: 'Bangers', cursive;
    font-family: 'Kalam', cursive;
    font-size: 20px;
    color: rgb(17, 0, 255);
 } 