


    header{
        background-color: rgb(255, 123, 0);
        text-align: center;
        color: white;
        padding: 50px;
    }
    .nav {
        background-color: rgb(187, 79, 40);
        color: white;
       /* float: left;*/
         padding-top: 6px;
         padding-bottom: 6px; 
    }
    ul {
        list-style-type: none;
        margin: 0;
        
      }
    li {
        
        display: inline;
        padding-right: 40px;
        padding-left: 4px;
      }
      a{
        text-decoration: none;
        font-size: 1.55rem;
        color: white;


      }
    
    a:hover {
      color: black;
    }
     
    .kleurregel{
        background-color: rgba(255, 238, 0, 0.842);
        padding: 2px 0px;
       
    }
    footer{
        background-color: rgb(187, 79, 40);
        text-align: center;
        padding: 15px;
    }
    .col-3{
        
        background-color: rgb(250, 175, 125);    

        padding-left: 15px;
        padding-right: 15px;
        
    }
    .regelv{
        padding-left: 23px;
    }
    .container{
        display: flex;
    }
    .blok2{
        padding-left: 25px;
        
    }
    .verspringen{
        padding-left: 23px;
    }

    
    .tekstkleur{
        color:rgb(187, 79, 40);
    }
    .positie{
        float: right;
        
    }
    .posi{
        float: left;
        padding-bottom: 30px;

    }
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2.1rem;
    }
    p{
        font-size:1.55rem;
    }
    label, form {
        font-size: 1.55rem;
    }
    input[type="text"], input[type="email"],
   select, textarea {
    width: 100%;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 18px;
    box-sizing: border-box;
  }
  button{
    background-color:rgb(192, 80, 36);
    padding: 12px 15px;
    border-radius: 3px;
    border-style: none;
    color: white;
    margin-bottom: 10px;
  }
  textarea{
    height: 300px;
  }
  
  
     @media all and (max-width: 600px){
      
     .col-12{
        display: block;
     }   
     .img{
        width: 95%;
        padding-left: 0px;
        float: left;
        margin-left: 8px;
        padding-bottom: 20px;
        padding-top: 20px;
     } 
     .img2{
        width: 50%;
        padding-left: 10px;
        padding-bottom: 16px;
        padding-top: 16px;
        float: left;
        padding-right: 40%;
        margin-left: 1px;
        display: inline;
     }
     .img3{
        width: 50%;
        padding-left: 0px;
        float: left;
        margin-left: 1px;
    
     }


     header{
        text-align: center;
        padding-left: 1px;
        padding-right: 1px;
     }

     
        
        
        ul {
            list-style-type: none;
            margin: 0;
            
            
          }
        li {
            width: 90%;
            display: block;
            padding-left: 0px;
            padding-right: 4px;
            text-align: center;
            padding-top: 7px;
            padding-bottom: 7px;
          }

     .kleurregel{
        height: 0.5px;
        padding-bottom: none;
        
      } 
       .tvbl{
        margin-left: 2px;
        padding-top: 30px;
        margin-top: -2px;
        }
    
          
     .size
     {
     
     width: 100%;
     float: left;
     margin-left: 4px;
     /*margin-right: 1px;*/
     }
     .col-3{
    margin-left: 0px;
    margin-bottom: 25px;
    padding-bottom: 25px;
    height: auto;
    }
    .beperkt{
    display: inline-block;
    }

    .blok2{
    margin-right: 8px;
    /*margin-left: -4px;*/
    }
     .blok3{
     margin-right: 12px;
     margin-left: 15px;
     }    

    .positie{
    float: right;
}
 a{
    font-size: 16px;
}
h1{
     font-size: 32px;
}
p{
    font-size: 15px;
}
h2{
    font-size: 23px;
}
.bodemr{
    padding-bottom: 25px;
}
  }     
 @media  (min-width: 768px){
    
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    
}
    