.clk{
    text-align: center;
    border-style: ridge;
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    border-radius: 3px;
    margin: 15px;
    
     box-shadow: 0px 0px 15px rgb(28, 28, 160);
    height: 100px;
    font-style: oblique;
    font-size: 2rem;
    background-color: white;
}
.iit{
    background-color: rgb(189, 189, 189);
}


.pst{
    margin-left: 55px;
}
.bx1{
    box-shadow: -4px -4px 30px rgb(0, 0, 189);
}
.bx2{
    box-shadow: -4px -4px 30px rgb(0, 0, 189);
}
.bx3{
    box-shadow: 0px 0px 35px rgb(0, 0, 189);
}.bx4{
    box-shadow: 4px -4px 30px rgb(0, 0, 189);
    
}
.bx5{
    box-shadow: 4px -4px 30px rgb(0, 0, 189);
}
.ttg{
    color: rgb(50, 98, 255);
    font-size: 6rem;
    text-align: center;
    display:block;
    text-shadow: 0px 0px 8px rgb(255, 255, 255);
    transform: matrix( 1,0,0.1,1,0,0);
    
}
.cap{
    background-color: rgb(60, 60, 226);
    height: auto;
    border-radius: 5px;
    border-style: none;
    width: auto;
    margin: 1px;
    margin-top: 1rem;
    padding-bottom: 2rem;
    

}
.abc{
    width: 150px;
    display: block;
    position: absolute;
    top: 43px;
    left: 340px;
    border-radius: 5px;
    box-shadow: 0px 0px 12px rgb(255, 255, 255);
}
.txp{
    text-align: center;
    margin-top: 3rem;
    color: blue;
    margin-bottom: 5rem;
}
.txa{
    float: right;
    position: absolute;
    left: 94.2rem;
    top: 1.5rem;
    border-radius: 1rem;
    
}
.txa:hover{
    box-shadow: 0px 0px 80px white;   
}

.txc{
    font-style: oblique;
    text-align: center;
    clear: inherit;
}
 .ftr{
    background-color: rgb(22, 22, 255);
    height: 50px;
    opacity: 0.8;
    border-radius: 5px;
    border-style: none;
    padding-top: 0.75rem;
    }
.ftp{
    color: rgb(255, 255, 255);
    margin-left: 1rem;
}
.spm{
    height: 1.5rem;
}
.cvb{
    font-size: 1.5rem;
    border: 1px;
    border-style: ridge;
    border-radius: 3px;
    padding: 10px;
    font-style: oblique;
    text-shadow: 0px 0px 4px rgb(255, 255, 255);
}


/*page2*/
.logo{
   
    height: 200px;
    border-color: black;
    padding-top: 0.5rem;
    margin-bottom: 0.5rem;
    
    }

h1{
    padding-top: 1rem;
}
.card {
    height: 100%;
}
.spac{
    margin-top: 2%;
}
.pbp{
    position: absolute;
    top: 0.5rem;
    left: 47.5rem;
    clear: both;
    }
/* page 3*/
 .xxx{
    text-align: center;
    position: relative;
    top: 350px;

 }
.pss{
    float: right;
    margin-top: 1rem;
}