




img{
  
  width: auto;
  height: 10rem;
}
  .afb{
  width: auto;
  height: 10rem;
  
 margin-right: 1px;
  
}
header{
  text-align: center;

}
h1{
  display: inline;
  text-align: center;
  filter: drop-shadow( 0px 0px 20px greenyellow); 

font-size: 5rem;
color: greenyellow;
text-shadow: 2px 2px 4px black;
}


.txt{
  font-size: 28px;
  text-align: center;  
  color: rgb(57, 63, 48);
  
  /*background-color: darkgrey;*/
  vertical-align: middle;
  margin-left: 20%;
  margin-right: 20%;
  
}
a:hover{
  color: red;
  font-size: 28px;
}


@media  only screen and (min-width: 600px) {
    .txte{
      font-size: 22;
    }
}
.txtx{
  text-align: center;
  
}



.txte{
  font-size: 28px;
  color: rgb(114, 148, 115);
  text-shadow: 0px 0px 1px rgba(159, 250, 140, 0);
  
  }
div{
  text-align: center;
  vertical-align: middle;
}  
   
 
  
   
 
 